@import "colors";

nav{
   height: 60px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    align-items: center;
    position: sticky;
    background-color: $first;
    top: 0%;
    z-index: 10;
    font-size: 14px;
    
 >h1{
    text-transform: uppercase;
    font-weight: 900;

 }  
 >main{
    width: 70%;
    display: flex;
    justify-content:flex-end;
       > a{
    margin:1rem;
    color: $dark;

    &:hover{
        color: $third;
        font: 500 1rem $text2;
    }
  }
    

 }

}