@import "colors";

@media screen and (max-width:600px) {
    .home3{
        height: 240vh;
        >div{
            height: 190vh;
        }
    }
    .contact{
        >div{
            height: 100%;
            width: 100%;
            border-radius: 0;
            >h1{
            text-align: center;
            }
        }
    }
    
}
@media screen and (max-width:600px) {
    nav{
       >h1{
        display: none;
       }
       >main{
        width: 100%;
        justify-content: center;
        >a{
                margin: 0.5rem;
        }
       }

    }
    .home{
        align-items: center;
        height: 121vh;
        >main{
           >h1{
                font-size: 3rem;
            }
        }
    }
    .home2{
        height: 100vh;
        flex-direction: column;
        >img{
            width: 100%;
        }
        >div{
            width: 100%;
        }
    }
    .home3>div{
        width: 80%;
        margin: 12rem 0;
        text-align: center;
        >p{
            font-size: 0.9rem;
        }
    }
    
    .home4 {
        align-items: center;
        margin: 16rem 0;
    
    >div{
        // background-color: $third;
        width: 100%;
        border-radius: 0;
        height: unset;
        border-bottom: 4px solid $second;
         
    }
}
.contact{
    border-bottom: 3px solid $second;
    max-height: 70vh;
    margin:0 10px;
>div{
    padding: 1rem;
    >h1{
        margin: 1rem;
    }
    >form{
        margin: 0;
        >div{
            width: 100%;
        }
    }   
}
}
   .footer{
    height: 50vh;
    max-width: 80vw;
    grid-template-columns: 1fr;
    // padding: 5rem;
    >div{
        align-items: center;
    }
   }
} 
